<div id="back"></div>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="/home" class="navbar-brand">
      <div id="compOne">
        <div id="logo"></div>
        <div id="title"></div>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <button routerLink="/" id="btnHome" class="btnMenu">Accueil</button>
      <button routerLink="/Favori"id="btnStar" class="btnMenu">Mes Favoris</button>
      <button routerLink="/Account" id="btnAccount" class="btnMenu">Mon Profil</button>
      <button routerLink="/Login" id="btnLogin" class="btnMenu">Connexion/Inscription</button>
    </div>
  </div>
</nav>

