<div id="filterBack">
  <p id="titleFilter">Filtre de recherche</p>
  <select id="marqueSelect" class="selectFilter">
    <option class="optionFilter" value="">-Marque-</option>
    <option class="optionFilter" value="Tyro">Tyrolium</option>
  </select>
  <select id="modeleSelect" class="selectFilter">
    <option class="optionFilter" value="">-Modèle-</option>
    <option class="optionFilter" value="Tyro">Tyrolium</option>
  </select>
  <select id="carburantSelect" class="selectFilter">
    <option class="optionFilter" value="">-Carburant-</option>
    <option class="optionFilter" value="Tyro">Tyrolium</option>
  </select>
  <div id="prixDiv" class="">
    <label for="customRange3" class="form-label">Prix :</label>
    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
  </div>
  <div id="kiloDiv" class="">
    <label for="customRange3" class="form-label">Kilométrage :</label>
    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange4">
  </div>
  <div id="dateDiv" class="">
    <label for="customRange3" class="form-label">Année :</label>
    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange5">
  </div>
</div>
